:root {
  --primary-text: #434455;
  --secondary-text: #fff;
  --primary-brand: #4d5ae5;
  --active-buttons: #404bbf;
  --success: #31d0aa;
  --dark: #2e2f42;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*без глобальных селекторов не обойтись ¯\_( ͡❛ ͜ʖ ͡❛)_/¯ */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-family: raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--dark);
}

.logo-web {
  color: var(--primary-brand);
}

.title-header {
  font-weight: semibold;
  font-size: 56;
  line-height: 60px;
}
.nav-a {
  font-weight: 500;
  color: var(--dark);
}
.nav-a:hover,
:focus {
  color: var(--primary-text);
}

.nav-a:active {
  color: var(--primary-brand);
}
.address-a {
  font-style: normal;
  color: var(--primary-text);
}

/* футер все равно один на страние + одинаковый между ними¯\_( ͡❛ ͜ʖ ͡❛)_/¯ */

footer {
  background-color: var(--dark);
}

.logo-bottom {
  color: var(--secondary-text);
}
.footer-p {
  color: var(---secondary-text);
}

.title-section {
  background-color: var(--dark);
  text-align: center;
}
.title-h {
  font-size: 56px;
  line-height: 1.07;
  color: var(--secondary-text);
}
.buttons {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-brand);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--secondary-text);
  cursor: pointer;
}
.buttons:active {
  background-color: var(--active-buttons);
}
.tertiary-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
}
.secondary-h {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
.team-section {
  background-color: var(--light);
}

.team-li :not(img) {
  text-align: center;
}
